openai
python-dotenv
requests
autogen
autogen-ext[openai]
openmeteo-requests
azure-cosmos
requests-cache
retry-requests
pytest
fastapi 
uvicorn[standard]
python-multipart
gunicorn
azure.cognitiveservices.speech
pydub
azure-storage-blob
mem0ai
azure-search-documents==11.5.2
pandas
pyodbc