openai
python-dotenv
requests
autogen
autogen-ext[openai]
openmeteo-requests
azure-cosmos
requests-cache
retry-requests
pytest
streamlit-cookies-manager
fastapi 
uvicorn[standard]
python-multipart
gunicorn